html {
  font-size: 1rem !important; }

#nav .navbar-lg {
  background-color: #5533ff; }
  #nav .navbar-lg .menu li {
    position: relative; }
    #nav .navbar-lg .menu li:nth-child(1)::after {
      width: 100%; }
    #nav .navbar-lg .menu li::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      color: #fff;
      background-color: #fff;
      bottom: -5px;
      width: 0;
      transition: width 0.3s; }
    #nav .navbar-lg .menu li:hover:after {
      width: 100% !important; }

#nav .navbar-mini img {
  width: 5rem !important; }

@media (max-width: 768px) {
  #nav .navbar-lg {
    display: none; }
  #nav .navbar-mini {
    display: block !important; } }

#header {
  background-color: #5533ff;
  padding: 7rem 0; }
  #header a:nth-child(1) {
    color: #fff !important;
    background-color: #3ecf8e !important;
    padding: .6rem 1.5rem;
    transition: all 0.3s;
    margin-right: 0.2rem; }
    #header a:nth-child(1):hover {
      color: #fff !important;
      background-color: #5533ff !important; }
  #header a:nth-child(2) {
    color: #3ecf8e !important;
    background-color: #fff !important;
    padding: .6rem 1.5rem;
    transition: all 0.3s; }
    #header a:nth-child(2):hover {
      color: #3ecf8e !important;
      background-color: #fff !important; }

.active {
  display: block !important; }

#main #about .about-item {
  transition: border-color 0.3s; }
  #main #about .about-item i {
    color: #3ecf8e;
    background: rgba(62, 207, 142, 0.3); }
  #main #about .about-item:hover {
    border-color: #3ecf8e !important; }

#main #craft a {
  color: #fff !important;
  background-color: #3ecf8e !important;
  padding: .6rem 1.5rem;
  transition: all 0.3s; }
  #main #craft a:hover {
    color: #fff !important;
    background-color: #3ecf8e !important; }

#main #services {
  background-color: #f9f9f9; }
  #main #services .feature {
    height: 15rem; }
    #main #services .feature i {
      color: #3ecf8e;
      background: rgba(62, 207, 142, 0.3);
      transition: all 0.3s; }
      #main #services .feature i:hover {
        color: #fff;
        background: #3ecf8e; }
  @media (max-width: 768px) {
    #main #services h4 {
      font-size: 1rem; }
    #main #services p {
      font-size: 0.8rem; } }

#main #showcase {
  background: linear-gradient(#7fc9fb, #5533ff); }
  #main #showcase .showcase-item .layer {
    background: rgba(62, 207, 142, 0.7);
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s; }
  #main #showcase .showcase-item:hover .layer {
    opacity: 1; }
