.active {
  display: block !important;
}
// Main
#main {
  // About
  #about {
    .about-item {
      transition: border-color 0.3s;
      i {
        color: $color-second;
        background: rgba($color: $color-second, $alpha: 0.3);
      }
      &:hover {
        border-color: $color-second !important;
      }
    }
  }
  // Craft
  #craft {
    a {
      @include button(#fff, $color-second, #fff, $color-second);
    }
  }
}
